<div class="container">
    <div class="row">
        <div class="col-6">
            <div>
                <h2>Dashboard </h2>
            </div>
            
        </div>

        <div class="col-6">
            <div class="float-right">
                <h3>Item's :<a [routerLink]="['cart']">{{ selectedItems }}</a> | Total: {{ total }}</h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row m-1">
        <div class="col-xs-4 w-25">
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Filter
                </a>
              
                <div class="dropdown-menu w-50" aria-labelledby="dropdownMenuLink">
                  <div class="row">
                      <div class="col-4">
                        <h4>Manufacturer</h4>
                        <li *ngFor="let manufac of manufacturers">
                            <input type="checkbox" [ngModel]="manufac.checked" (change)="filter(manufac)">
                            <label> {{manufac.id}} </label>
                        </li>                        
                      </div>
                      <div class="col-4">
                        <h4>OS</h4>
                        <li *ngFor="let ostypes of os">
                            <input type="checkbox" [ngModel]="ostypes.checked" (change)="filter(ostypes)">
                            <label> {{ostypes.id}}</label>
                        </li>
                    </div>
                    <div class="col-4">
                        <h4>Price Range</h4>
                        <li *ngFor="let price of price_range">
                            <input type="checkbox" [ngModel]="price.checked" (change)=filter(price)>
                            <label>{{ price.id}} </label>
                        </li>
                    </div>
                  </div>
                </div>
              </div>
              
        </div><!--filter code end here -->

        <div class="col-xs-4 w-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                    <a class="page-link" ngDefaultControl [(ngModel)]="previous" name="previous" (click)="previousPage()">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                    <a class="page-link" ngDefaultControl [(ngModel)]="next" name="next" (click)="nextPage()">Next</a>
                    </li>
                </ul>
            </nav>
        </div><!-- pagination html code end here -->

        <div class="col-xs-4 w-25">
            <!-- <h4 class="d-inline">Sort By</h4> -->
            <select class="form-control" name="Sort By" [ngModel]="sortoption" (change)="onChange($event.target.value)">
                <option value="popularity">Popularity</option>
                <option value="pricelh">Price - Low to High</option>
                <option value="pricehl">Price - High to Low</option>
            </select>
        </div><!-- sorting code end here -->
    </div>
</div>
            
<!--Previous: {{ previous }} 
Next: {{ next }} -->


<div class="container">
    <div class="row" >
        <div class="col-sm-4 d-flex mb-2" *ngFor= "let p of products | orderby:sortoption; let i = index">
            <div class="card p-1">
                    <a [routerLink]="[p._id]"><img class="card-img-top img" src='{{p.imageUrl}}' style="width: 100%; height: 200px;"></a>
                    <div class="card-body">
                    <h5 class="card-title">{{p.productName}}</h5>
                    <h4>Price: {{p.price}}</h4>
                    <div class="card-text">
                        <span class="text-info">Product ID: </span>{{p._id}}<br>
                        <span class="text-info">Product Code: </span>{{p.productCode}}<br>
                        <div class="text-justify">
                                <span class="text-info">Description: </span>{{ p.description}}<br>
                        </div>
						<span class="text-info">Manufacturer: </span>{{ p.manufacturer}}<br>
						<span class="text-info">Os: </span>{{ p.ostype}}<br>
                        <span class="text-info">Rating: </span>{{p.rating}}
                    </div>
                    <a (click)="addCart(p._id)" class="btn btn-primary">Add To Cart</a>
                    <a [routerLink]="[p._id]" class="btn btn-secondary">View Product</a>
                    </div>					
            </div>
        </div><!-- col 1 -->

        <!--
        <div class="col-xs-4" >
            <div class="card" >
                <img class="card-img-top img" src='{{products[i+1].imageUrl}}' style="width: 100%; ">
                <div class="card-body">
                <h5 class="card-title">{{products[i+1].productName}}</h5>
                <h4>Price: {{products[i+1].price}}</h4>
                <div class="card-text">
                    Product ID: {{products[i+1]._id}}<br><br>
                    Product Code: {{products[i+1].productCode}}<br><br>
                    <div>
                        Description: {{ products[i+1].description}}<br><br>
                    </div>
                    Manufacturer: {{ products[i+1].manufacturer}}<br><br>
                    Os: {{ products[i+1].ostype}}<br><br>
                    Rating: {{products[i+1].rating}}
                </div>
                <a (click)="addCart(products[i+1]._id)" class="btn btn-primary">Add To Cart</a>
                <a [routerLink]="[products[i+1]._id]" class="btn btn-secondary">View Product</a>
                </div>
                
            </div>
        </div><!-- col 2 -->
        <!--
        <div class="col-xs-4" >
            <div class="card" >
                <img class="card-img-top img" src='{{products[i+2].imageUrl}}' style="width: 100%;">
                <div class="card-body">
                <h5 class="card-title">{{products[i+2].productName}}</h5>
                <h4>Price: {{products[i+2].price}}</h4>
                <div class="card-text">
                    Product ID: {{products[i+2]._id}}<br><br>
                    Product Code: {{products[i+2].productCode}}<br><br>
                    <div>
                        Description: {{ products[i+2].description}}<br><br>
                    </div>
                    Manufacturer: {{ products[i+2].manufacturer}}<br><br>
                    Os: {{ products[i+2].ostype}}<br><br>
                    Rating: {{products[i+2].rating}}
                </div>
                <a (click)="addCart(products[i+2]._id)" class="btn btn-primary">Add To Cart</a>
                <a [routerLink]="[products[i+2]._id]" class="btn btn-secondary">View Product</a>
                </div>
                
            </div>
        </div><!-- col 3 -->
        <!--
        <div class="col-xs-3" >
            <div class="card" >
                <img class="card-img-top img" src='{{products[i+3].imageUrl}}' style="width: 100%;">
                <div class="card-body">
                <h5 class="card-title">{{products[i+3].productName}}</h5>
                <h4>Price: {{products[i+3].price}}</h4>
                <div class="card-text" >
                    Product ID: {{products[i+3]._id}}<br><br>
                    Product Code: {{products[i+3].productCode}}<br><br>
                    <div>
                        Description: {{ products[i+3].description}}<br><br>
                    </div>
                    Manufacturer: {{ products[i+3].manufacturer}}<br><br>
                    Os: {{ products[i+3].ostype}}<br><br>
                    Rating: {{products[i+3].rating}}
                </div>
                <a (click)="addCart(products[i+3]._id)" class="btn btn-primary">Add To Cart</a>
                <a [routerLink]="[products[i+3]._id]" class="btn btn-secondary">View Product</a>
                </div>
                
            </div>
        </div><!-- col 4 -->
          
        
    </div>
</div>

